
body{
    position: relative;
    width:100vw ;
    font-family: sans-serif;
}
a{
    text-decoration: none;
}
header{
    background-color: var(--white);
    padding: 5px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    width: 100vw;
    z-index: 2;
}
.navigation li{
    display: inline-block;
}
.navigation li a {
    position: relative;
    margin-left: 20px;
}
.span p {
color: var(--grayishBlue);
}
.details{
    background-color: var(--veryLightGay);
    display: grid;
    grid-template-columns: 40% 60%;
    height: 90vh;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow-x: hidden;
}
.breif_detail{
    display: flex;
    flex-direction: column;
    width: 70%;
}
.request_btn{
    display: grid;
    border: none;
    outline: none;
    border-radius: 40px;
    width: 200px;
    margin: 20px 0;
    padding: 10px 40px;
    background-color: blue;

}
.breif_detail h1{
    font-size: 40px;
    margin-bottom: 20px;
}
.mockup{
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.mockup-img{
    width: 80%;
    transform: translate(140px);
}